mlflow==2.19.0
scikit-learn==1.5.2
pandas==2.1.4
numpy==1.26.4
scipy==1.15.2
joblib==1.4.2
cloudpickle==2.2.1
boto3==1.36.3
botocore==1.36.3
psycopg2-binary==2.9.10
fastapi==0.115.8
pydantic==2.10.6
uvicorn==0.34.0
requests==2.32.3
httpx==0.27.2
pytest==8.3.4
